---
import Layout from '../layouts/BlogPost.astro';

---

<Layout 
	title="Qui suis-je ?"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage=""
>
<div class="bg-[#262522] h-50 w-auto rounded-xl ">
	<div class="p-5">
		<img src="/photodeprofil2.jpg" class="rounded-xl h-40 "/>
	<p>sbjfsdhfsdhlifshlid</p>
	<p>jdodvndovdnovdnovnldvlnd</p>
</div>
</div>
</Layout>
