---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
--- 
<div class="flex flex-col md:flex-row h-screen fixed z-100">
<header class="bg-[#262522] text-white flex flex-col h-screen w-10%">
	<nav class="flex flex-col items-start p-4 space-y-4">
			<a class="" href="/">
				<img src="/florian.png"/>
			</a>
		<div class="internal-links flex flex-col space-y-2">
			<HeaderLink href="/">Accueil</HeaderLink>
			<HeaderLink href="/about">A propos </HeaderLink>
			<HeaderLink href="/blog">Mes projets</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="social-links flex flex-row align-center justify-center">

			<a href="https://github.com/Florianunilim" target="_blank">
				<img src="/github.png" alt="github" class="h-8 w-8" />
			</a>
			<a href="https://www.linkedin.com/in/florian-denis-52421a265/" target="_blank">
				<img src="/linkedin.png" alt="linkedin" width="32" height="32" />
			</a>
			</div>
	</nav>
</header>
</div>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background:[#1E212B];
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		width: 90%;
		border-bottom-color: #81B64C;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
